@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: beige;
    font-family: Lato, sans-serif;
    font-weight: 300;
    justify-content: center;
    height: 850px;
}

.selections {
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 75px;
    font-size: 70px;
    height: 20rem;

}

.selection:hover {
    transform: scale(2,2);
    transition: 150ms;
    text-shadow: 2px 2px 4px black;
}

.results {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    justify-items: center;
    align-items: center;  
}

.result-score {
    margin-left: 1 rem;
    font-size: 40px;
    color: blue;
}

.result-selection {
opacity: .5;
}
.result-selection.winner {
opacity: 1;
font-size: 1,5rem;
}