
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    justify-content: center;
    height: 850px;
    background-color: gray;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;

}

.selections {
    display: flex;
    justify-content: center; 
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 150px;
    font-size: 8rem;
    height: 16rem;

}

.selection:hover {
    transform: scale(1.2);
    
}

.results {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    justify-items: center;
    align-items: center;  
}

.result-score {
    margin-left: 1 rem;
    font-size: 40px;
    color: blue;
}

.result-selection {
opacity: .5;
}
.result-selection.winner {
opacity: 1;
font-size: 1,5rem;
}