
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    justify-content: center;
    height: 100%;
    background-color: gray;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, p {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}
.heading1 {
    font-size: large;
}

.selections {
    display: flex;
    justify-content: center; 
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem; 
}

.selection:hover {
    transform: scale(1.2);
    
}

.results {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    justify-items: center;
    align-items: center;
    font-size: 2.2em;
    font-weight:bold;   
}

.result-score {
    margin-left: 1 rem;
    color: blue;
    font-size: 1.2em;
    font-weight:bold; 
}

.result-selection {
opacity: .5;
}
.result-selection.winner {
opacity: 1;
font-size: 1,5rem;
}